{% extends './base.html.twig' %}

{% block title %}{{ parent() }} | Training | Delete{% endblock %}

{% block content %}
    <div class="div">
        <h1 class="text-3xl text-center mb-5">{{ sport.name }}</h1>
        <img src="{{ asset(sport.image) }}" alt="{{ sport.name }}" class="w-[30rem]">
    </div>
    {{ form(form) }}
{% endblock %}
