{% extends './base.html.twig' %}

{% block title %}{{ parent() }} | Users{% endblock %}

{% block content %}
    <div class="relative overflow-x-auto shadow-md pt-24 pb-4">
        <table class="w-[40rem] text-sm text-left text-gray-500 mx-auto">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-center">
                    Training
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Tijd
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Datum
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Uitschrijven
                </th>
            </tr>
            </thead>
            <tbody>
            {% for lesson in app.user.lessons %}
                <tr class="bg-white border-b">
                    <td class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap">
                        {{ lesson.sport.name }}
                    </td>
                    <td class="px-6 py-4 text-center font-medium text-gray-900 whitespace-nowrap">
                        {{ lesson.time|date('H:s') }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ lesson.date|date('d-m-Y') }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ path("app_lesson_signing_out", { id: lesson.id } ) }}"
                           class="font-medium hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 height="24px" width="24px" viewBox="0 0 384.971 384.971"
                                 class="mx-auto fill-black hover:fill-red-600 transition-all">
                                <path d="M180.455,360.91H24.061V24.061h156.394c6.641,0,12.03-5.39,12.03-12.03s-5.39-12.03-12.03-12.03H12.03    C5.39,0.001,0,5.39,0,12.031V372.94c0,6.641,5.39,12.03,12.03,12.03h168.424c6.641,0,12.03-5.39,12.03-12.03    C192.485,366.299,187.095,360.91,180.455,360.91z"/>
                                <path d="M381.481,184.088l-83.009-84.2c-4.704-4.752-12.319-4.74-17.011,0c-4.704,4.74-4.704,12.439,0,17.179l62.558,63.46H96.279    c-6.641,0-12.03,5.438-12.03,12.151c0,6.713,5.39,12.151,12.03,12.151h247.74l-62.558,63.46c-4.704,4.752-4.704,12.439,0,17.179    c4.704,4.752,12.319,4.752,17.011,0l82.997-84.2C386.113,196.588,386.161,188.756,381.481,184.088z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
